#loginContainer{
    -fx-background-color: linear-gradient(to bottom, #b8dffc,rgb(235, 234, 197));
}

#text{
    -fx-font-size: 20px;
}

.btnVoltar{
    -fx-background-color: #e0f0e9;
    -fx-text-fill: #2e7d32;

    -fx-background-radius: 4;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 2);
}

.btnLogin{
    -fx-background-color: #41bc18;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13.2px;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-padding: 8 20 8 20;
    -fx-effect: dropshadow(gaussian, rgba(65,188,24,0.3), 5, 0, 0, 2);
}
